---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Firebase Astro Demo in Vercel</h1>
		<ul>
			<li>Firebase Installed</li>
			<li>Firebase-admin Installed</li>
			<li>
				Vercel Adapter Installed, Starting With Server Side Rendering
			</li>
			<li>Firebase Client Auth</li>
		</ul>
	</body>
	<script>
		import { app } from "../firebase/client.js";
		import { getAuth } from "firebase/auth";

		const auth = getAuth(app);
		console.log(auth);
	</script>
</html>
