---
import { getAuth } from "firebase-admin/auth"
import { app } from "../firebase/server.js"


const auth = getAuth(app)
console.log('##### Server side Firebase-admin Auth #####')
console.log(auth)
//console.log(import.meta.env.FIREBASE_PROJECT_ID)
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Firebase Astro Demo in Vercel</h1>
		<ul>
			<li>Firebase Running</li>
			<li>Reinstalling Firebase-Admin and try to display it...</li>
		</ul>
	</body>

	<script>
		import { app } from "../firebase/client.js";
		import { getAuth } from "firebase/auth";

		const auth = getAuth(app);
		console.log(auth);

		//const serverAuth = JSON.parse({JSON.stringify(safeAuthData)});
		
	</script>
</html>
